.labReportsList{
    height: 100%;


    width: 100%;


    overflow: scroll;

    


    
}
.labReportsList>div{
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;


}

.LabListHead{
    font-size: x-large;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border-bottom: 1px solid #AAA;
}

.LabListHead>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    min-width: 100%;


}
.LabListHead>div>div>div{
    max-width: 20%;
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;


}

@media only screen and (max-width: 600px) {
    .LabListHead{
        font-size: small;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;
        border-bottom: 1px solid #AAA;
    }

}
