
*{
    text-decoration: none;
}

.LoginQoute {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    font: 900;
    font-size:x-large;
    flex-direction: column;
    color: #ffffff;
    font-style:oblique;
    width: 100%;

    

align-items: center;
justify-content: center;    
}
.Login_Main{
    background-color: #ECECEC;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.Login_MainDiv{
    background-color: #A048A7;
    height: 60%;
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #690070;
    max-width: 800px;

}
.Login_Top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Login_Top>form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.error{
    color: red;
}
.Login_Logo{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Login_Logo>img{
    height: 60%;
    width: 30%;
    margin-bottom: 20px;
    

}
.Login_Username{
    margin-bottom: 20px;
    height: 30px;
    width: 80%;
    color: purple;
    
    
}
.Login_Password{
    margin-bottom: 30px;
    height: 30px;
    width: 80%;
    color: purple;
    

}
.Login_Password>input{
    width: 95%;
    height: 100%;
    border-radius: 10px;
    padding: 0% 2.5%;

}
.Login_Username>input{
    width: 95%;
    height: 100%;
    border-radius: 10px;
    padding: 0% 2.5%;

}
.Login_Submit{
    margin-bottom: 5px;
    
}
.Login_Bottom{
    height: 10%;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);

}
.Login_Submit>button{
    background-color: #bdbbbb;
    height: 30px;
    width: 160px;
    border-radius: 10px;
    color:rgb(255, 255, 255);

}


@media only screen and (max-width: 700px) {
    .Login_Main{
        background-color: #ECECEC;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Login_MainDiv{
        background-color: #A048A7;
        height: 60%;
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        min-height: 400px;
        max-height: 400px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 2px solid #690070;
    
    }
    .Login_Top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        height: 33%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    .Login_Top>form{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }
    .error{
        color: red;
    }
    .Login_Logo{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Login_Logo>img{
        height: 60%;
        width: 30%;
        margin-bottom: 20px;
        
    
    }
    .Login_Username{
        margin-bottom: 20px;
        height: 30px;
        width: 80%;
        color: purple;
        
        
    }
    .Login_Password{
        margin-bottom: 30px;
        height: 30px;
        width: 80%;
        color: purple;
        
    
    }
    .Login_Password>input{
        width: 95%;
        height: 100%;
        border-radius: 10px;
        padding: 0% 2.5%;
    
    }
    .Login_Username>input{
        width: 95%;
        height: 100%;
        border-radius: 10px;
        padding: 0% 2.5%;
    
    }
    .Login_Submit{
        margin-bottom: 5px;
        
    }
    .Login_Bottom{
        height: 10%;
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(238, 238, 238);
    
    }
    .Login_Submit>button{
        background-color: #bdbbbb;
        height: 30px;
        width: 70px;
        border-radius: 10px;
        color:rgb(255, 255, 255);
    
    }
    .LoginQoute {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        font: 900;
        font-size:92%;
        flex-direction: column;
        color: #A048A7;
        font-style:oblique;
        width: 100%;
    
    align-items: center;
    justify-content: center;    background-color:rgb(238, 238, 238);;
    }
  }