.HomeMed_Main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.HomeMed_MainProducts{
    height: 70%;
    width: 100%;

    
}
.HomeMed_MainProducts>div{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: scroll;

    
}