
.HomeMed_Mid{
    background-color: rgb(255, 0, 0);
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.HomeMed_MidPic{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.HomeMed_MidPic>img{
    height: 100%;
    width: 100%;
   
}
.HomeMed_MidData{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}